<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Invoice Template</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      table,
      tr,
      td {
        vertical-align: top;
        border-collapse: collapse;
      }
      p {
        margin: 0;
      }
      .invoice-header {
        background-color: rgb(216, 74, 94);
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .invoice-header h1 {
        margin: 0;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      .invoice-header p {
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
      }
      .invoice-header .logo {
        height: 80px;
      }
      .invoice-header .logo img {
        max-height: 100%;
      }
      .invoice-header .contact {
        flex: 1;
        text-align: right;
        margin-left: 20px;
      }
      .invoice-header .contact h2 {
        margin: 0;
        font-size: 22px;
        line-height: 1.5;
      }
      .invoice-header .contact p {
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
      }
      .invoice-details {
        background-color: #f1f1f1;
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }
      .invoice-details .details-left {
        flex: 1;
      }
      .invoice-details .details-right {
        flex: 1;
        text-align: right;
      }
      .invoice-details h2 {
        margin: 0;
        font-size: 22px;
        line-height: 1.5;
        color: #1c528e;
      }
      .invoice-details p {
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
      }
      .invoice-details .invoice-number {
        margin-bottom: 10px;
      }
      .invoice-details .due-date {
        margin-bottom: 10px;
      }
      .invoice-details .payment-method {
        margin-bottom: 10px;
      }
      .centered-table {
        margin: 0 auto;
      }
      .centered-table td {
        padding: 10px;
        border: 1px solid #ddd;
      }
      .centered-table td:first-child {
        font-weight: bold;
        width: 150px;
      }
      .centered-table td:last-child {
        text-align: center;
        width: 100px;
      }
      .invoice-items {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
       
      }
      .invoice-items th {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        font-size: 14px;
        color: #333;
        font-weight: normal;
      }
      .invoice-items td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        font-size: 14px;
        color: #333;
      }
.invoice-items .description-col {
width: 50%;
}
.invoice-items .total-col {
text-align: right;
}
.invoice-total {
margin-top: 20px;
display: flex;
justify-content: flex-end;
align-items: center;
}
.invoice-total .label {
font-size: 16px;
font-weight: bold;
margin-right: 10px;
color: #333;
}
.invoice-total .value {
font-size: 16px;
font-weight: bold;
color: #1c528e;
}
.invoice-footer {
background-color: rgb(216, 74, 94);
color: #fff;
padding: 20px;
text-align: center;
}
.invoice-footer p {
margin: 0;
font-size: 14px;
line-height: 1.5;
}
/* Media Queries */
@media only screen and (min-width: 1020px) {
  .centered-table {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
      .package-table{
        margin-left: 5%;
      }
}
@media only screen and (max-width: 767px) {
.invoice-header {
flex-wrap: wrap;

}
.invoice-header .logo {
height: auto;
margin-bottom: 20px;
}
.invoice-header .contact {
margin-left: 0;
text-align: center;
}
.invoice-details {
flex-wrap: wrap;
}
.invoice-details .details-left {
margin-bottom: 20px;
}
.invoice-details .details-right {
text-align: left;
}
.invoice-items .description-col {
width: 100%;
}
.invoice-total {
justify-content: flex-start;
margin-top: 40px;
}
.centered-table{
  margin : 0 auto;
}

}
.centered-header{
  text-align: center;
}
.amount-paid{
  padding : 5% 5% 5% 5%;
}
</style>

  </head>
  <body>
    <div class="invoice-header">
      <div class="centered-header">
        <h4>THE PCOS SOCIETY</h4>
        <h4>Online registration details</h4>
        
      </div>
      
    </div>
    <div class="invoice-details">
      <div class="details-left">
        <h2>Form</h2>
        <p class="invoice-number">Online registration</p>
        <p class="due-date">Registration date: <%= date %></p>
      </div>
      <div class="details-right">
        <p class="payment-method"></p>
      </div>
    </div>
    
    <div class="centered-table">
    <table >
      
      <tr>
        <td>Name</td>
        <td><%= name %></td>
      </tr>
      
        
      <tr>
        <td>Phone</td>
        <td><%= phone %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= email %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><%= age %></td>
      </tr>
      <tr>
        <td>Complete Address</td>
        <td><%= address %></td>
      </tr>
      <tr>
        <td>Institution</td>
        <td><%= institution %></td>
      </tr>
      <tr>
        <td>Sex</td>
        <td><%= sex %></td>
      </tr>
      
      
    </table>

    <table class="package-table">
      
      <tr>
        <td>Package Type</td>
        <% if(package_type == "residential"){%>
        <td>Residential</td>
        <%}else{%>
          <td>Non Residential</td>
        <%}%>
      </tr>
      
      <% if(package_type == "residential" && accomodation_type){%>
      <tr>
        <td>Accommodation Type</td>
        <% if(accomodation_type == "single_room"){%>
        <td>Single room</td>
        <%}else if(accomodation_type == "twin_room"){%>
          <td>Twin sharing per person</td>
        <%}else{%>
        <td>None</td>
        <%}%>
      </tr>
      <%}%>
      
      <% if(accompanying_total_amount){%>
      <tr>
        <td>Accommodation For Accompanying Person Required</td>
        <td>Yes</td>
      </tr>
      <%}%>
      
      <% if(package_type == "residential" && check_in_date && check_out_date && check_in_date != "null" && check_out_date != "null"){%>
      <tr>
        <td>Check In date</td>
        <td><%= check_in_date %></td>
      </tr>
      <tr>
        <td>Check Out date</td>
        <td><%= check_out_date %></td>
      </tr>
      <%}%>

      <tr>
        <td>Membership Type</td>
        <td>
          <% if(member_type == "member"){%>
            Member
        <%}%>
        <% if(member_type == "non_member"){%>
            Non Mmber
        <%}%>
        </td>
      </tr>
      <% if(accompanying_total_amount){%>
      <tr>
        <td>Membership Number</td>
        <td><%= membership_number %></td>
      </tr>
      <%}%>
      <tr>
        <td>Conference</td>
        <% if(package_type == "residential"){%>
          <% if(conference_type == "conference_type_1"){%>
              <td>
                  2 nights and 3 days - Conference + 2 Workshops
              </td>
          <%}%>
          <% if(conference_type == "conference_type_2"){%>
              <td>
                  2 nights and 3 days - Conference only
              </td>
          <%}%>
          <% if(conference_type == "conference_type_3"){%>
              <td>
                  1 nights and 2 days - Conference only
              </td>
          <%}%>
          
      <%}%>
      <% if(package_type == "non_residential"){%>
          <% if(conference_type == "conference_type_1"){%>
              <td>
                  Conference only
              </td>
          <%}%>
          <% if(conference_type == "conference_type_2"){%>
              <td>
                  Conference + 2 Workshops
              </td>
          <%}%>
          <% if(conference_type == "conference_type_3"){%>
              <td>
                  Post Graduate Students Conference + 2 Workshops
              </td>
          <%}%>
          
      <%}%>
      </tr>
      <% if(workshop_titles){%>
      <tr>
        <td>Workshop Titles</td>
       <td>
        <ul>
        <% for(let i = 0; i < workshop_titles.length; i++) { %>
          <% if(workshop_titles[i] == "check1"){%>
              <li>Insulin Resistance in PCOS</li>
          <%}%>
          <% if(workshop_titles[i] == "check2"){%>
            <li>Embryo Biopsy and PGT</li>
          <%}%>
          <% if(workshop_titles[i] == "check3"){%>
            <li> Body Image and PCOS</li>
          <%}%>
          <% if(workshop_titles[i] == "check4"){%>
            <li> Ultrasound in PCOS</li>
          <%}%>
          <% if(workshop_titles[i] == "check5"){%>
            <li>  Vitrification of Oocytes and Embryos</li>
            
        <%}%>
        <% if(workshop_titles[i] == "check6"){%>
          <li>Errors in ART</li>
        <%}%>
      <%}%>
    </ul>
    </td>
      </tr>
      <%}%>
    </table>
  </div>
    <div class = "amount-paid">
    <p style="margin-bottom: 2%;">Amount paid</p>
      <table class="invoice-items">
      <thead>
        <tr>
          <th class="description-col">Description</th>
          <th>Price</th>
          <th>GST</th>
          <th class="total-col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="description-col">Example Item</td>
          <td>$100.00</td>
          <td>$100.00</td>
          <td class="total-col">$100.00</td>
        </tr>
        <tr>
          <td class="description-col">Example Item 2</td>
          <td>$50.00</td>
          <td>$50.00</td>
          <td class="total-col">$100.00</td>
        </tr>
      </tbody>
    </table>
    <div class="invoice-total">
      <div class="label">Total:</div>
      <div class="value">$200.00</div>
    </div>
  </div>
    <div class="invoice-footer">
      <p>End of the form</p>
    </div>
  </body>
</html>
